body{
    background-color: rgb(207, 39, 137);
    color:rgb(78, 20, 145);
    font-family: sans-serif

}

/* Horizontal menu */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

nav li {
    float: left;
    border-right: 1px solid white;
}
li:last-child {
    border-right: none;
}

nav li a {
    display: block;
    color; white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #105010;
    color: #501050
}

.currentpage {
    background: blue;
    color: pink;
}

/* Vertical menu */ /*
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    border: 1px solid black;
}

.currentpage {
    background-color: orange;
    color: blue;
}

.menuitem {
    border-top: 1px solid black;
    text-align: center;
}
.menuitem:first-child {
    border-top: none;
}
.menuitem:last-child {
    margin-top: -1px;
    margin-bottom: -1px;
}

.menulink {
    display: block;
    color: #000000;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
}
.menulink:hover {
    background-color: #050505;
    color: white;
}
*/
